.jumbotron {
    background-color: rgb(35, 37, 37);
    color: rgb(146, 141, 123);
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(30, 33, 35);
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10;
    background-color: rgb(30, 33, 35);
    border: rgb(146, 141, 123);
}

.btn-reserva {
    width: 100%;
    border-radius: 0%;
    color: rgb(146, 141, 123);
    background-color: rgb(30, 33, 35);
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}

body {
    background-color: rgb(35, 37, 37);
    color: rgb(146, 141, 123);
}

.nav-bar {
    background-color: rgb(35, 37, 37);
    color: rgb(146, 141, 123);
}

.nav-bar {
    background-color: rgb(30, 33, 35);
    color: rgb(146, 141, 123);
}

a {
    color: rgb(146, 141, 123);
}

.navbar-toggler {
    color: rgb(146, 141, 123);
}

.breadcrumb {
    background-color: rgb(30, 33, 35);
    color: rgb(146, 141, 123);
}

.btn {
    background-color: rgb(30, 33, 35);
    color: rgb(146, 141, 123);
}

form {
    color: rgb(146, 141, 123);
    padding: 20px;
}

.form-control {
    background-color: rgb(30, 33, 35);
    color: rgb(146, 141, 123);
}

option {
    background-color: rgb(30, 33, 35);
    color: rgb(146, 141, 123);
}

.form-control {
    background-color: rgb(30, 33, 35);
    color: rgb(146, 141, 123);
}

.form-control:focus {
    background-color: rgb(30, 33, 35);
    color: rgb(146, 141, 123);
}

.thead {
    background-color: rgb(19, 21, 22);
    color: rgb(146, 141, 123);
}

tbody {
    background-color: rgb(30, 33, 35);
    color: rgb(146, 141, 123);
}

.collapse {
    background-color: rgb(30, 33, 35);
    color: rgb(146, 141, 123);
}

.card-body {
    background-color: rgb(35, 37, 37);
    color: rgb(146, 141, 123);
}

.card-header {
    background-color: rgb(30, 33, 35);
    color: rgb(146, 141, 123);
}

.modal {
    background-color: rgb(30, 33, 35);
    color: rgb(146, 141, 123);
}