$background: rgb(35, 37, 37);
$secondBackground:rgb(30, 33, 35);
$text: rgb(146, 141, 123);
@mixin margenes($top, $botton) {
    margin-top: $top;
    margin-bottom: $botton;
}

.jumbotron {
    background-color: $background;
    color: rgb(146, 141, 123);
    @include margenes(50px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $secondBackground;
    @include margenes(10px, 0px)
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10;
    background-color: $secondBackground;
    border: rgb(146, 141, 123);
}

.btn-reserva {
    width: 100%;
    border-radius: 0%;
    color: rgb(146, 141, 123);
    background-color: rgb(30, 33, 35);
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}

body {
    background-color: rgb(35, 37, 37);
    color: rgb(146, 141, 123);
}

.nav-bar {
    background-color: rgb(35, 37, 37);
    color: rgb(146, 141, 123);
}

.nav-bar {
    background-color: rgb(30, 33, 35);
    color: rgb(146, 141, 123);
}

a {
    color: rgb(146, 141, 123);
}

.navbar-toggler {
    color: rgb(146, 141, 123);
}

.breadcrumb {
    background-color: rgb(30, 33, 35);
    color: rgb(146, 141, 123);
}

.btn {
    background-color: rgb(30, 33, 35);
    color: rgb(146, 141, 123);
}


/* 
    30-33-35 Earie Black
    91-117-83 Fern Green
    177-237-232 Celeste
    109-100-185 Blue Violet
    146-141-123 Middle Grey
    35-37-37 Earie Black
*/